<section class="bg-hero-pattern bg-cover bg-center bg-no-repeat w-full h-screen flex flex-col items-end justify-center text-white pe-10">
    <div class="content flex flex-col gap-10">
        <div class="text-center">
            <h1 class="text-8xl font-black">REPUESTOS</h1>
            <p class="text-7xl font-semibold">PARA CAMIONES</p>
        </div>
        <p class="text-5xl font-extralight">Gran variedad, calidad y resistencia</p>
    </div>
</section>